.item-card {
  background: #1f1f1f;
  padding: 1.5rem;
  border-radius: 12px;
  margin: 1rem 0;
  border: 1px solid #333;
  transition: 0.3s ease;
  width: 260px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.item-card:hover {
  transform: scale(1.03);
  border-color: #ffcc00;
  box-shadow: 0 0 12px #ffcc00;
}

.item-card h3 {
  margin: 0;
  color: #ffcc00;
}

.item-card p {
  color: #ccc;
}

.item-card a {
  color: #e63946;
  font-weight: bold;
}







.item-card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  border-color: #ffcc00;
}

.item-card h3 {
  font-size: 1rem;
  color: #f2f2f2;
  margin-bottom: 10px;
  line-height: 1.4;
}

.price {
  color: #ffcc00;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.ver-detalle-btn {
  background-color: #ffcc00;
  color: #000;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}

.ver-detalle-btn:hover {
  background-color: #e6b800;
}



